<div xmlns:th="http://www.thymeleaf.org" th:fragment="detailCard(post)">
    <h3 th:text="${post.title}" />
    <section class="missing-detail-page-content">
        <div class="missing-detail-thumb-container">
            <figure class="missing-detail-thumb">
                <img th:src="@{/img/sample.jpeg}" alt="head" width="100%" height="100%" style="border-radius:10px" />
            </figure>
        </div>
        <section class="missing-detail-info-container">
            <div class="missing-detail-info-content-container">
                <div style="margin-right: 30px">
                    <div class="missing-detail-field" th:text="'종류: ' + ${post.specifics}" />
                    <div class="missing-detail-field" th:text="'실종장소: ' + ${post.missingPlace}" />
                    <div class="missing-detail-field" th:text="'사례금: ' + ${post.reward}" />
                </div>
                <div>
                    <div class="missing-detail-field" th:text="'색상: ' + ${post.color}" />
                    <div class="missing-detail-field" th:text="'실종시간: ' + ${post.missingTime}" />
                </div>
            </div>
            <div style="flex flex-col">
                <div>설명</div>
                <textarea class="missing-detail-textarea" th:text="${post.description}" />
            </div>
        </section>
    </section>
</div>