<div xmlns:th="http://www.thymeleaf.org" th:fragment="detailCard(selfId, post)">
    <h3 th:text="${post.title}" />
    <h6 th:text="${post.author}" />
    <section class="missing-detail-page-content">
        <div class="missing-detail-thumb-container">
            <figure class="missing-detail-thumb" th:each="imagePath : ${post.images}">
                <img th:src="${imagePath.path}" alt="head" width="100%" height="100%" style="border-radius:10px" />
            </figure>
        </div>
        <section class="missing-detail-info-container">
            <div class="missing-detail-info-content-container">
                <div style="margin-right: 30px">
                    <div class="missing-detail-field" th:text="'동물종류: ' + ${post.animalType}" />
                    <div class="missing-detail-field" th:text="'실종장소: ' + ${post.missingPlace}" />
                    <div class="missing-detail-field" th:text="'사례금: ' + ${post.reward}" />
                </div>
                <div>
                    <div class="missing-detail-field" th:text="'세부종류: ' + ${post.specifics}" />
                    <div class="missing-detail-field" th:text="'색상: ' + ${post.color}" />
                    <div class="missing-detail-field" th:text="'실종시간: ' + ${post.missingTime}" />

                    <div th:if="${selfId > 0}" class="missing-card-like">
                        <div class="missing-card-post-id" th:text="${post.id}" hidden />
                        <div>
                            <i class="empty-heart far fa-heart" th:style="${post.isLiked == 0} ? 'display: block' : 'display: none'"></i>
                            <i class="filled-heart fas fa-heart" th:style="${post.isLiked == 1} ? 'display: block' : 'display: none'"></i>
                        </div>
                        <div class="missing-like-count" th:text="${post.likeCount}" />
                    </div>
                </div>
            </div>
            <div style="flex flex-col">
                <div>설명</div>
                <textarea class="missing-detail-textarea" th:text="${post.description}" />
            </div>
        </section>
    </section>
</div>