<div xmlns:th="http://www.thymeleaf.org" class="missing-detail-comment-container"
        th:fragment="comments(memberId, postId, comments, actionPath, parentId)">

        <section class="missing-detail-comment-card-container">
            <div class="missing-comment-title">작성자</div>
            <form class="missing-comment-form" method="post" th:action="@{{actionPath}(actionPath=${actionPath})}">
                <input name="missingId" th:value="${postId}" hidden />
                <input name="memberId" th:value="${memberId}" hidden />
                <input th:if="${parentId}" name="parentId" th:value="${parentId}" hidden />
                <input class="missing-comment-input" type="text" name="comment" placeholder="댓글을 써주세요">
                <button class="missing-comment-button">작성</button>
            </form>
        </section>

        <section class="missing-comment-scroll">
            <div class="missing-card-entry" th:each="comment : ${comments}">
                <div class="missing-detail-comment-card-container">
                    <div class="missing-comment-title">작성자</div>
                    <div class="missing-comment-form">
                        <div th:text="${comment.content}"></div>
                    </div>
                </div>
            </div>
        </section>

</div>