<div xmlns:th="http://www.thymeleaf.org" class="missing-detail-comment-container"
        th:fragment="comments(selfId, postId, comments, endPoints, parentId)">

        <section th:if="${selfId != 0}" class="missing-detail-comment-card-container">
            <div class="missing-comment-title">작성자</div>
            <form class="missing-comment-form" method="post" th:action="@{{actionPath}(actionPath=${endPoints.newComment})}">
                <input name="missingId" th:value="${postId}" hidden />
                <input name="memberId" th:value="${selfId}" hidden />
                <input th:if="${parentId}" name="parentId" th:value="${parentId}" hidden />
                <input class="missing-comment-input" type="text" name="comment" placeholder="댓글을 써주세요">
                <button class="missing-comment-button">작성</button>
            </form>
        </section>

        <section class="missing-comment-scroll">
            <div class="missing-card-entry" th:each="comment : ${comments}">
                <div class="missing-detail-recomment-card-container">
                    <div style="display:flex; flex-direction: row; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                        <div class="missing-comment-title" th:text="${comment.author}" />
                        <div style="display:flex; flex-direction: row;">
                            <div th:if="${selfId != 0}" class="missing-comment-button-new">reply</div>

                            <div th:if="${selfId == comment.memberId}"
                                 class="missing-comment-button-edit" >edit</div>

                            <div th:if="${selfId == comment.memberId}">
                                <div class="missing-comment-button-delete">
                                    <form th:action="@{{actionPath}(actionPath=${endPoints.deleteComment})}" method="post">
                                        <input name="missingId" th:value="${postId}" hidden />
                                        <input name="commentId" th:value="${comment.commentId}" hidden />
                                        <input name="memberId" th:value="${selfId}" hidden />
                                        <input type="hidden" name="_method" value="delete"/>
                                        <button>delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="missing-comment-form">
                        <div class="missing-comment-content" th:text="${comment.content}" />
                        <form class="missing-comment-edit-form" method="post" th:action="@{{actionPath}(actionPath=${endPoints.editComment})}">
                            <input type="hidden" name="_method" value="put"/>
                            <input name="missingId" th:value="${postId}" hidden />
                            <input name="memberId" th:value="${selfId}" hidden />
                            <input name="commentId" th:value="${comment.commentId}" hidden />
                            <input type="text" name="comment" th:value="${comment.content}"/>
                            <button>수정</button>
                        </form>

                    </div>
                    <div>
                        <form class="missing-recomment-form" method="post" th:action="@{{actionPath}(actionPath=${endPoints.newComment})}">
                            <input name="missingId" th:value="${postId}" hidden />
                            <input name="memberId" th:value="${selfId}" hidden />
                            <input name="parentId" th:value="${comment.commentId}" hidden />
                        </form>

                        <div th:if="${comment.comments}" class="show-more-recomment">
                            <div>댓글 더보기</div>
                        </div>
                        <section class="missing-recomment-card-container">
                            <div class="missing-recomment-card" th:if="${comment.comments}" th:each="recomment:${comment.comments}">
                                <div style="display:flex; flex-direction: row; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                                    <div th:text="${recomment.author}" />
                                    <div style="display:flex; flex-direction: row;">

                                        <div th:if="${selfId == recomment.memberId}" class="missing-recomment-button-edit">edit</div>

                                        <div th:if="${selfId == recomment.memberId}">
                                            <div class="missing-recomment-button-delete">
                                                <form th:action="@{{actionPath}(actionPath=${endPoints.deleteComment})}" method="post">
                                                    <input name="missingId" th:value="${postId}" hidden />
                                                    <input name="commentId" th:value="${recomment.commentId}" hidden />
                                                    <input name="parentId" th:value="${recomment.parentId}" hidden/>
                                                    <input type="hidden" name="_method" value="delete"/>
                                                    <button>delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="missing-recomment-content" th:text="${recomment.content}" />
                                <form class="missing-recomment-edit-form" method="post" th:action="@{{actionPath}(actionPath=${endPoints.editComment})}">
                                    <input type="hidden" name="_method" value="put"/>
                                    <input name="missingId" th:value="${postId}" hidden />
                                    <input name="memberId" th:value="${selfId}" hidden />
                                    <input name="commentId" th:value="${recomment.commentId}" hidden />
                                    <input name="parentId" th:value="${recomment.parentId}" hidden/>
                                    <input type="text" name="comment" th:value="${recomment.content}" style="width: 70%;"/>
                                    <button>수정</button>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </section>

</div>