
.missing-list-page {
    max-width: 1200px;
    margin: 50px auto;
}

.missing-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;

}

.missing-list-page-content {
    display: flex;
    flex-direction: row;
}

.missing-list-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.missing-list-new {
    display: flex;
    align-items: center;
    font-size:1rem;

    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 5px;
}

.missing-sentence-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}