<div xmlns:th="http://www.thymeleaf.org" th:fragment="newCard">
    <h3>등록하기</h3>
    <form>

    <section class="missing-new-page-content">
        <div style="display: flex; flex-direction:row; padding-right:30px;">
            <div class="missing-new-thumb-container">
                <div>
                    <div>사진을 등록해주세요</div>
                    <input type="file" placeholder="사진을 등록해주세요"/>
                </div>
                <div>
                    <button>생성하기</button>
                </div>
            </div>
        </div>
        <section class="missing-new-info-container">
            <div class="missing-new-info-content-container">
                <div style="margin-right: 30px">
                    <div class="missing-new-field">
                        <label>종류</label>
                        <input type="text"/>
                    </div>
                    <div class="missing-new-field">
                        <label>실종장소</label>
                        <input type="text"/>
                    </div>
                    <div class="missing-new-field">
                        <label>사례금</label>
                        <input type="text"/>
                    </div>
                </div>
                <div>

                    <div class="missing-new-field">
                        <label>색상</label>
                        <input type="text"/>
                    </div>
                    <div class="missing-new-field">
                        <label>실종시간</label>
                        <input type="text"/>
                    </div>

                </div>
            </div>
            <div class="missing-new-field">

                    <div>설명</div>
                    <textarea class="missing-new-textarea">awpfo</textarea>

            </div>
        </section>
    </section>
    </form>
</div>