/* 입양 게시판 css 영역 */

.adoption {
    width: 1200px;
    margin: 150px auto;
    padding:50px 100px;
    /* background-color: #eee; */
    border:1px solid #aaa;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

/* 검색 영역 및 글쓰기 영역 */
.adoption .search-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding-right:20px;
}


.adoption .search input {
    /* height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; */
    width:173px;
    height:41px;
    background-color: rgba(240,240,240,0.41);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;

}

.adoption .search .search-button{
    display: inline-block;
    border:none;
    background-color: #fff;
    cursor: pointer;

}

.adoption .search .search-button span{
    vertical-align: top;
}


.adoption .select select {
    /* height: 30px;
    text-indent: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 15px; */
    width:173px;
    height:41px;
    background-color: rgba(240,240,240,0.41);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    text-indent: 10px;
}

.adoption .write .write-button{
    border:none;
    display: inline-block;
    width:120px;
    height:30px;
    line-height: 30px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.adoption .write .write-button span{
    color:#f2d8b9;
    vertical-align: middle;
}


/* 게시판 리스트 영역 */
.adoption-board{
    /* background-color: skyblue; */
}

.adoption-board ul {
    margin:0;
    padding:0;
    margin-top:25px;
    list-style-type: none;
}

.adoption-board ul li a{
    display: flex;
    justify-content: space-between;
    border:1px solid #aaa;
    /*border-bottom: none;*/
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
    padding: 5px 15px;
}

/*.adoption-board ul li:not(:first-child) a{*/
/*    border-top: none;*/
/*}*/

/*.adoption-board ul li:last-child{*/
/*    border-bottom: 1px solid #aaa;*/
/*}*/

.adoption-board ul li .image-area{
    flex:20%;
    font-size: 14px;
}

.adoption-board ul li .image-area img {
    /* margin-left: 15px; */
    width:200px;
}

.adoption-board ul li .status-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adoption-board ul li .status-area span{
    vertical-align: middle;
}


.adoption-board ul li .content-area{
    flex:60%;
    padding: 15px;
}

.adoption-board ul li .info-area{
    flex:20%;
}

/* ********************************** */

/* 입양 글쓰기 페이지 */
/* adoption-write */
.adoption-write {
    width:1200px;
    margin:150px auto;
    padding:50px;
    border: 1px solid #ddd;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}
.adoption-write legend{
    position: absolute;
    left:-9999px;
    display:none;
    opacity: 1;
    font-size: 1;
}

/* 글쓰기 저장 버튼 영역 */
.adoption-write .write-view-area{
    display: flex;
    justify-content: flex-end;
}


.adoption-write .write-view-area .write-button{
    border:none;
    display: inline-block;
    /*width:120px;*/
    height:30px;
    line-height: 30px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.adoption-write .write-view-area .reset-button {
    background-color: #fff;
    border:none;
    width:100px;
    height: 50px;
    color:#f0b062;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 20px;
}

.adoption-write .write-view-area .write-button span{
    color:#f0b062;
    vertical-align: middle;
}

/* 글쓰기 게시판 내 영역 */

.adoption-write .contents-area {
    width:100%;
    padding: 10px;
}

.adoption-write .contents-area .col{
    display: flex;
    margin-bottom: 4px;
}

.adoption-write .contents-area .col input{
    /* display: inline-block;
    height:41px;
    line-height: 41px;
    background-color: rgba(240,240,240,0.41);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    padding:0 10px; */
    /*display: none;*/

}

.adoption-write .contents-area .col label{
    display: inline-block;
    width:200px;
    height:41px;
    line-height: 41px;
    background-color: rgba(240,240,240,0.41);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    padding:0 10px;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

.adoption-write .contents-area .col image{
    width:300px;

}

.adoption-write .contents-area .col .remove-image{
    /* margin-top:15px;
    border:1px solid #aaa;
    border-radius: 8px;
    background-color: #fff;
    font-size: 17px;
    cursor: pointer;
    color: #aaa; */
    display: inline-block;
    /* width:100px; */
    height:41px;
    line-height: 41px;
    margin-top: 10px;
    background-color: rgba(240,240,240,0.41);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    padding:0 10px;
    text-align: center;
    cursor: pointer;

}

.adoption-write .contents-area .title{
    display: inline-block;
    width:120px;
    height:41px;
    font-size:18px;
    font-weight: 600;
    margin-right: 3px;
}

.adoption-write .contents-area .desc{
    width:800px;
    height:41px;
    line-height: 41px;
    background-color: rgba(240,240,240,0.41);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    padding:0 10px;
}

.adoption-write .contents-area label{
    display: inline-block;
    width:120px;
    height:41px;
    font-size:18px;
    font-weight: 600;
}

.adoption-write .contents-area .text-area{
    display: flex;
    align-items: center;
}

.adoption-write .contents-area label[for="textarea"]{
    display: inline-block;
    width:120px;
    height:400px;
    line-height: 400px;
    font-size:18px;
    font-weight: 600;
}

.adoption-write .contents-area input{
    width:800px;
    height:41px;
    line-height: 41px;
    background-color: rgba(240,240,240,0.41);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 10px;
}

.adoption-write .contents-area select {
    width:173px;
    height:41px;
    background-color: rgba(240,240,240,0.41);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    text-indent: 10px;
}

.adoption-write .contents-area textarea {
    width:800px;
    height:400px;
    background-color: rgba(240,240,240,0.41);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    font-size:18px;
    resize: none;
}


/* ************************************ */
/* 입양 게시판 글 읽기 내용 */
.adoption-read {
    width:1200px;
    margin:150px auto;
    padding:50px;
    border: 1px solid #ddd;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

/* 글 수정 버튼 영역 */
/* 글쓰기 저장 버튼 영역 */
.adoption-read .view-button-area{
    display: flex;
    justify-content: space-between;

}
.adoption-read .view-button-area .view-area span{
    vertical-align: middle;
    color:#777;
}


.adoption-read .view-button-area a{
    color: #f0b062;
}
.adoption-read .view-button-area .view-area span{
    vertical-align: middle;
    color:#777;
}



.adoption-read .view-button-area a{
    color: #f0b062;
}

.adoption-read .view-button-area .edit-button{
    border:none;
    display: inline-block;
    width:120px;
    height:30px;
    line-height: 30px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}




/* 입양 게시판 Read 영역 */

.adoption-read .contents-area {
    width:100%;
    padding: 10px;
}

.adoption-read .contents-area .title{
    display: inline-block;
    width:120px;
    height:41px;
    font-size:18px;
    font-weight: 600;
    vertical-align: top;
}

.adoption-read .contents-area .image-area{
    display: flex;
}


.adoption-read .contents-area .image img{
    width:350px;
    /* height: 300px; */
    margin-left:5px;
    border-radius: 10px;
    overflow: hidden;
    border:1px solid rgb(240,240,240);
    box-sizing: border-box;
    object-fit: cover;

}


.adoption-read .contents-area .text-area{
    display: flex;
    align-items: center;
}

.adoption-read .contents-area label[for="textarea"]{
    display: inline-block;
    width:120px;
    height:400px;
    line-height: 400px;
    font-size:18px;
    font-weight: 600;
}

.adoption-read .contents-area .desc{
    display: inline-block;
    width:800px;
    height:41px;
    /* background-color: rgba(240,240,240,0.41); */
    /* box-shadow: 0px 4px 4px rgba(0,0,0,0.25); */
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    padding:5px 10px;
}

.adoption-read .contents-area select {
    width:173px;
    height:41px;
    background-color: rgba(240,240,240,0.41);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    text-indent: 10px;
}

.adoption-read .contents-area textarea {
    width:800px;
    height:400px;
    /* background-color: rgba(240,240,240,0.41); */
    /* box-shadow: 0px 4px 4px rgba(0,0,0,0.25); */
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    padding:10px;
    font-size:18px;
    resize: none;
}
/* 게시글 읽기 댓글 읽기 영역 */
.adoption-comments-read {
    width:1200px;
    margin:50px auto;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

.adoption-comments-read h4{
    width:1200px;
    margin:0 auto;
    font-size: 20px;
}

.adoption-comments-read .comments-read{
    border: 1px solid #ddd;
    padding:50px;
}

.adoption-comments-read .comments-read .author{
    display: inline-block;
    width:120px;
    height:41px;
    font-size:18px;
    font-weight: 600;
    border:none;
    border-right: 1px solid #ddd;
    vertical-align: top;
}

.adoption-comments-read .comments-read .comment-contents{
    margin-left:20px;
    padding:10px;
    width:800px;
    height: 150px;
    font-size: 18px;
    font-weight: 600;
    vertical-align: bottom;
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    resize: none;
}

/* 게시글 읽기 댓글 쓰기 영역 */
.adoption-comments-write {
    width:1200px;
    margin:50px auto;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

.adoption-comments-write h4{
    width:1200px;
    margin:0 auto;
    font-size: 20px;
}

.adoption-comments-write .comments-write{
    border: 1px solid #ddd;
    padding:50px;
}

.adoption-comments-write .comments-write .author{
    display: inline-block;
    width:120px;
    height:41px;
    font-size:18px;
    font-weight: 600;
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    border-right: 1px solid #ddd;
    vertical-align: top;
}

.adoption-comments-write .comments-write .comment-contents{
    margin-left:20px;
    padding:10px;
    width:800px;
    height: 150px;
    font-size: 18px;
    font-weight: 600;
    vertical-align: bottom;
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    resize: none;
}

.adoption-comments-write .comments-write button{
    margin-left:20px;
    padding:10px;
    /* width:800px;
    height: 150px; */
    font-size: 18px;
    font-weight: 600;
    vertical-align: top;
    border:1px solid rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}