      .indicator-container {
            display: flex;
            flex-direction: row;
        }

        .page-container {
            display: flex;
            flex-direction: row;
        }

        .isSelected {
            color: red;
        }

        .prev, .next {
            border: none;
            background-color: white;
            outline: none;
            cursor: pointer;
        }