<!--<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer">-->
<!--    <div class="footer-container" >-->
<!--        <div class="footer-developers-container">-->
<!--            <div class="footer-developer">-->
<!--                <div class="footer-dev-title">박성수</div>-->
<!--                <div class="footer-dev-email">akgkfk3@naver.com</div>-->
<!--                <div class="footer-dev-tel">010 2720 8996</div>-->
<!--                <div class="footer-dev-github">github link</div>-->
<!--            </div>-->
<!--            <div class="footer-developer">-->
<!--                <div class="footer-dev-title">참여한 개발자</div>-->
<!--                <div class="footer-dev-email">sample@email.com</div>-->
<!--                <div class="footer-dev-tel">+82 10 1111 1111</div>-->
<!--                <div class="footer-dev-github">github link</div>-->
<!--            </div>-->
<!--            <div class="footer-developer">-->
<!--                <div class="footer-dev-title">참여한 개발자</div>-->
<!--                <div class="footer-dev-email">sample@email.com</div>-->
<!--                <div class="footer-dev-tel">+82 10 1111 1111</div>-->
<!--                <div class="footer-dev-github">github link</div>-->
<!--            </div>-->
<!--            <div class="footer-developer">-->
<!--                <div class="footer-dev-title">참여한 개발자</div>-->
<!--                <div class="footer-dev-email">sample@email.com</div>-->
<!--                <div class="footer-dev-tel">+82 10 1111 1111</div>-->
<!--                <div class="footer-dev-github">github link</div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="footer-social-media">-->
<!--            <div class="footer-media-title">Follow us</div>-->
<!--            <div class="footer-media-icon-container">-->
<!--                <img class="footer-media-icon" th:src="@{/img/fb.png}" alt="fb" />-->
<!--                <img class="footer-media-icon" th:src="@{/img/insta.png}" alt="insta" />-->
<!--                <img class="footer-media-icon" th:src="@{/img/tw.png}" alt="tw" />-->
<!--                <img class="footer-media-icon" th:src="@{/img/yt.png}" alt="yt" />-->
<!--            </div>-->
<!--        </div>-->
<!--</footer>-->
<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
  <div class="footer-container">
    <div class="footer-developers-container">
      <div class="footer-developer">
        <div class="footer-dev-title">박성수</div>
        <div class="footer-dev-email">akgkfk3@naver.com</div>
        <div class="footer-dev-tel">010 2720 8996</div>
        <div class="footer-dev-github">github link</div>
      </div>
      <!-- 닫는 태그가 추가됨 -->
      <div class="footer-developer">
        <div class="footer-dev-title">참여한 개발자</div>
        <div class="footer-dev-email">sample@email.com</div>
        <div class="footer-dev-tel">+82 10 1111 1111</div>
        <div class="footer-dev-github">github link</div>
      </div>
      <!-- 닫는 태그가 추가됨 -->
      <div class="footer-developer">
        <div class="footer-dev-title">참여한 개발자</div>
        <div class="footer-dev-email">sample@email.com</div>
        <div class="footer-dev-tel">+82 10 1111 1111</div>
        <div class="footer-dev-github">github link</div>
      </div>
      <!-- 닫는 태그가 추가됨 -->
      <div class="footer-developer">
        <div class="footer-dev-title">류명한</div>
        <div class="footer-dev-email">dev.ryu2021@gmail.com</div>
        <div class="footer-dev-tel">010 9718 2118</div>
        <a href="https://github.com/devsince2021" target="_blank">
          <div class="footer-dev-github">깃허브 살펴보기</div>
        </a>
      </div>
      <!-- 닫는 태그가 추가됨 -->
    </div>
    <div class="footer-social-media">
      <div class="footer-media-title">Follow us</div>
      <div class="footer-media-icon-container">
        <img class="footer-media-icon" th:src="@{/img/fb.png}" alt="fb" />
        <img class="footer-media-icon" th:src="@{/img/insta.png}" alt="insta" />
        <img class="footer-media-icon" th:src="@{/img/tw.png}" alt="tw" />
        <img class="footer-media-icon" th:src="@{/img/yt.png}" alt="yt" />
      </div>
    </div>
  </div>
</footer>
