/* index 페이지 입양 부분 css */

.adoption{
    margin:0 auto;
}

.adoption .adoption-banner {
    position: relative;
}

.adoption .adoption-banner img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.adoption .adoption-banner .banner-button {
    display: inline-block;
    background-color: #393B4A;
    color: white;
    padding: 15px 21px;
    border-radius: 45px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    bottom: 18.27%;
    font-size: 1rem;
    max-width: 180px;
}

.adoption .adoption-find {
    width:100%;
    height: 9.375%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}


.adoption .adoption-filter-content {
    display: flex;
    align-items: center;
    position: relative;
}

.adoption .adoption-find-title img {
    width: 100%;
}

.adoption .adoption-find-area {
    display:flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.adoption .adoption-find-area .blank-space-left {
    width: 31.25%;
}

.adoption .adoption-find-area .adoption-animal-filter-link {
    display: block;
    width: 3.125%;
}

.adoption .adoption-find-area .blank-between-animal-icons {
    width: 2.34%;
    max-width: 60px;
}

.adoption .adoption-find-area img{
    width: 100%;
}

.adoption .adoption-find-area .blank-cat-icon-right {
    width: 4.68%;
    max-width: 120px;
}

.adoption .adoption-find-area .center-area{
    width: 11.80%;
    max-width: 200px;
    flex-direction: column;
}
.adoption .adoption-find-area .center-area label{
    position: relative;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.adoption .adoption-find-area .blank-between-select-box {
    width: 2.34%;
    max-width: 30px;
}

.adoption .adoption-find-area .local-area{
    max-width: 200px;
    width: 11.80%;
    flex-direction: column;
}

.adoption .adoption-find-area .local-area label{
    position: relative;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.adoption .button-area{
    margin:0;
    position: absolute;
    right: 9.375%;
}

.adoption .button-area button{
    width: 166px;
    height: 50px;
    background-color: #393B4A;
    color:#fff;
    border:none;
    border-radius: 45px;
}

/* custom Select Box Css 영역 */
.adoption-selectBox {
    margin:0;
    padding:0;
    position: relative;
    max-width: 200px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    font-size: 14px;
}
.adoption-selectBox .select {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 10px;
    position: relative;
    z-index: 3;
    -webkit-appearance:none; /* 크롬 화살표 없애기 */
    -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
    appearance:none /* 화살표 없애기 */
}
.adoption-selectBox .select option {
    background: #D9D9D9;
    color: #fff;
    padding: 3px 0;
    font-size: 14px;
}
.adoption-selectBox .icoArrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 35px;
    height: inherit;
    border-left: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D9D9D9;
}

.adoption-selectBox .select:focus + .icoArrow{
    transform: rotate(180deg);
}