  .review-box{
      margin: 0 auto;

      height:1052px;
       background-image: url('/img/reviewIndex.png');
       background-size: cover;
      }

      .review-small-box{


    width: 493px;
    height: 100%;
    margin-left: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    }

    .review-title{

    width:493px;
    height:44px;
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    font-size:30px;
    margin-bottom:50px;
    }
      .review-post{

      width:490px;
      height:200px;
      margin-bottom:20px;
      display:flex;
          border-radius: 30px;
    overflow: hidden;
      }
      .review-image{

         width:180px;
      height:200px;

      }
      .review-text{

      width:310px;
      height:200px;
      background-color: white;
      }
      .review-post-title{
          width:229px;
      height:20px;

      margin: 25px auto;
          font-size: 18px;
    font-weight: 600;
     margin-left: 22px;
      }
            .content-like-box{

         height:92px;
         display:flex;
      }
      .review-post-content{
       width:187px;
      height:92px;
             font-size: 15px;
    font-weight: 500;
    margin-left: 22px;
       font-weight: 600;
      }
      .write-cover{
          margin: 50px;
    margin-left: 0px;
    }

      .write-review{


           width:160px;
      height:50px;
       border-radius: 90px;
       color: white !important;
                 font-size: 18px;
    font-weight: 600;
       text-align:center;
       line-height: 45px;
       padding: 4px;
          border: 2px solid white;
      }
      .review-like{
                 width:50px;
      height:30px;
      margin-left:10px;
      margin-top:62px;
      background-color: white;
      }
      .like-count{
      vertical-align: middle;
      font-weight: 550;
      color:#f86868;
      }
      .material-symbols-outlined{
      vertical-align: middle;
      color:#f86868}
      .img{
       width:180px;
      height:200px;
      }